.form {
    width: 22rem;
    height: 37rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    border-radius: 1rem;
    box-shadow: 0 29px 52px rgba(0, 0, 0, 0.4), 0 25px 16px rgba(0, 0, 0, 0.2);
  }
  
  .inputField {
    display: flex;
    gap: 0.5rem;
    width: 80%;
    border-bottom: 2px solid var(--gray-color);
  }
  
  .icon{
      color: rgb(42, 31, 123);
  }
  
  .msg{
      margin-right: 5rem;
  }
  
  .passwordContainer{
      width: 100%;
      margin-left: 4rem;
      color: rgb(143, 32, 32);
  }
  
  .btn{
      height: 3rem;
      width: 90%;
      border-radius: 1rem;
      cursor: pointer;
      color: white;
      background-color: #4119ad;
  }

  .linkBtn:hover{
    color: rgb(161, 150, 150);
    cursor: pointer;
  }